#heading-user-profile {
  margin-left: 40%;
}
#save-btn {
  margin: 0 !important;
  padding: 10px 31px;
}
.student-profile-image {
  width: 120px;
  height: 120px;
  margin-top: 10%;
  margin-left: 125%;
  border-radius: 80px;
}
#monospaceFontfamily{

font-family: 'Courier New', Courier, monospace;
}