#nextbtn-signup-m {
  // style={{ marginTop: "10%" }}>
  margin-top: 10%;
}
#resendOTP-signup-m {
  // style={{ marginTop: "5%" }}
  margin-top: 5%;
  cursor: pointer;
}
#OTP-signup-m {
  padding-top: 1rem;
}
.main-login-div-signup-m {
  // padding-top: 20px;
  top: 115px;
  left: 0px;
  width: 100%;
  height: 640px;
  background: transparent
    linear-gradient(
      180deg,
      rgba(250, 115, 136, 0.55) 0%,
      rgba(249, 167, 194, 0.55) 53%,
      rgba(157, 168, 226, 0.55) 100%
    )
    0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000000;
  opacity: 1;
}

.main-header-signup-m {
  margin-top: 20%;
  text-align: center;
  font: Bold 35px Arial;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.logInForm-div-signup-m {
  padding: 2rem;
  margin-top: 5%;
}

#error-message-signup-m {
  text-align: center;
  padding-top: 2px;
  font-size: 11px;
  color: red;
  //    margin-left: 20px;
}

#signIn-label-signup {
  margin-top: 3%;
  font-weight: bold;
}
#mobile91-login-signup {
  // style={{ marginTop: "7px" }}
  margin-top: 7px;
}
#form-signin-col-signup {
  // style={{ marginTop: "5%" }}
  margin-top: 5%;
}
#form-signup-col-signup {
  // style={{ marginTop: "8%" }}
  margin-top: 8%;
}
#started-span-signup-m {
  padding: 0;
  margin: 0;
  color: #475083;
  letter-spacing: 0px;
  font-size: 26px;
  font-weight: 600;
}
#signIn-span-signupnew-m {
  padding: 0 10px;
  margin: 0 20px;
  color: #ff5252;
  letter-spacing: 0px;
  font-size: 26px;
  font-weight: 600;
}
.form-group-login-signup-m {
  padding: 1rem;
}

.or-text-signup {
  color: #ff5252;
  font: SemiBold 36px/55px Poppins;
  letter-spacing: 0px;
}
.form-container Form {
  text-align: center;
}

#form-next-btn-signup-m {
  background: transparent linear-gradient(90deg, #f06190 0%, #ff5252 100%) 0% 0%
    no-repeat padding-box;
  width: 70%;
  cursor: pointer;
}

@media (max-width: 359px) and (min-width: 320px) {
  .signInImage-signup-m {
    width: 90%;
    margin-left: 4%;
  }
  logInForm-div-signup-m {
    padding: 2rem;
    margin-top: 10%;
  }
  .main-login-div-signup-m {
    height: 500px;
  }
  .hideFirstColViaMob {
    display: none;
  }
  .signInBox-signup-m {
    text-align: center;
    background-color: white;

    margin-top: -140%;
    margin-left: 4%;
    z-index: 1;
    box-shadow: 0px 3px 80px #0000001a;
    // height: 200px;
    margin-top: 10% !important;
    border-radius: 40px;
    // width:70%;
    // align-content: center;
  }
  #started-span-signup-m {
    padding: 0;
    margin: 0;
    color: #475083;
    letter-spacing: 0px;
    font-size: 20px;
    font-weight: 400;
  }
  #signIn-span-signupnew-m {
    // letter-spacing: 0px;
    font-size: 15px;
    font-weight: 600;
  }
  .form-group-login-signup-m {
    padding: 1%;
  }
  #signIn-label-signup {
    margin-top: 2%;
    font-weight: bold;
  }
  #form-next-btn-signup-m {
    width: 60%;
  }
}

@media (max-width: 374px) and (min-width: 360px) {
  // .main-login-div-signup-m {
  //     margin-top: 10%;
  // }
  .main-login-div-signup-m {
    height: 500px;
  }
  .signInImage-signup-m {
    width: 90%;
    margin-left: 4%;
  }
  .logInForm-div-signup-m {
    padding: 2rem;
    margin-top: 2%;
  }

  .hideFirstColViaMob {
    display: none;
  }
  .signInBox-signup-m {
    padding: 25px;
    background-color: white;
    // margin-top: -120%;
    text-align: center;
    margin-left: 4%;
    z-index: 1;
    box-shadow: 0px 3px 80px #0000001a;
    //   height: 200px;
    margin-top: 10% !important;
    border-radius: 40px;
    // width:70%;
    // align-content: center;
  }
  #started-span-signup-m {
    text-align: center;
    // padding-top:200px;
    //   padding: 0;
    //   margin: 0;
    color: #475083;
    letter-spacing: 0px;
    font-size: 20px;
    font-weight: 400;
  }
  #signIn-span-signupnew-m {
    text-align: center;
    // letter-spacing: 0px;
    font-size: 15px;
    font-weight: 600;
  }
  .form-group-login-signup-m {
    padding: 1%;
  }
  #signIn-label-signup {
    margin-top: 2%;
    font-weight: bold;
  }
  #form-next-btn-signup-m {
    width: 60%;
  }
}
@media (max-width: 410px) and (min-width: 375px) {
  .signInImage-signup-m {
    width: 85%;
    margin-left: 4%;
  }
  .main-login-div-signup-m {
    height: 450px;
  }
  //  .signInImage-signup-m{
  //   width:90%;
  //  }
  .hideFirstColViaMob {
    display: none;
  }
  .signInBox-signup-m {
    text-align: center;
    background-color: white;
    margin-top: -108%;
    margin-left: 4%;
    z-index: 1;
    box-shadow: 0px 3px 80px #0000001a;
    // height: 200px;
    margin-top: 10% !important;
    border-radius: 40px;
    // width:70%;
    // align-content: center;
  }
  #started-span-signup-m {
    padding: 0;
    margin: 0;
    color: #475083;
    letter-spacing: 0px;
    font-size: 20px;
    font-weight: 400;
  }
  #signIn-span-signupnew-m {
    // letter-spacing: 0px;
    font-size: 15px;
    font-weight: 600;
  }
  .form-group-login-signup-m {
    padding: 1%;
  }
  #signIn-label-signup {
    margin-top: 2%;
    font-weight: bold;
  }
  #form-next-btn-signup-m {
    width: 50%;
  }
}

@media (max-width: 599px) and (min-width: 411px) {
  .signInImage-signup-m {
    width: 90%;
    margin-left: 5%;
  }
  .main-login-div-signup-m {
    height: 550px;
  }
  .hideFirstColViaMob {
    display: none;
  }
  .signInBox-signup-m {
    width: 100%;
    text-align: center;
    background-color: white;
    // margin-top: -95%;
    margin-left: 4%;
    z-index: 1;
    box-shadow: 0px 3px 80px #0000001a;
    // height: 200px;
    margin-top: 20% !important;
    border-radius: 40px;
    // width:70%;
    // align-content: center;
  }
  #started-span-signup-m {
    padding: 0;
    margin: 0;
    color: #475083;
    letter-spacing: 0px;
    font-size: 20px;
    font-weight: 400;
  }
  #signIn-span-signupnew-m {
    // letter-spacing: 0px;
    font-size: 15px;
    font-weight: 600;
  }
  .form-group-login-signup-m {
    padding: 1%;
  }
  #signIn-label-signup {
    margin-top: 2%;
    font-weight: bold;
  }
  #form-next-btn-signup-m {
    width: 40%;
  }
}

@media (max-width: 767px) and (min-width: 600px) {
  // .signInImage-signup-m{
  //   width:100%;
  //  }
  .logInForm-div-signup-m {
    padding: 2rem;
    margin-top: 10%;
  }
  .signInImage-signup-m {
    width: 85%;
    margin-left: 5%;
  }
  .main-login-div-signup-m {
    height: 580px;
  }
  .hideFirstColViaMob {
    display: none;
  }
  .signInBox-signup-m {
    text-align: center;
    background-color: white;
    // margin-top: -90%;
    margin-left: 4%;
    z-index: 1;
    box-shadow: 0px 3px 80px #0000001a;
    // height: 200px;
    margin-top: 20% !important;
    border-radius: 40px;
    // width:70%;
    // align-content: center;
  }
  #started-span-signup-m {
    padding: 0;
    margin: 0;
    color: #475083;
    letter-spacing: 0px;
    font-size: 20px;
    font-weight: 400;
  }
  #signIn-span-signupnew-m {
    // letter-spacing: 0px;
    font-size: 15px;
    font-weight: 600;
  }
  .form-group-login-signup-m {
    padding: 1%;
  }
  #signIn-label-signup {
    margin-top: 2%;
    font-weight: bold;
  }
  #form-next-btn-signup-m {
    width: 40%;
  }
}
@media (max-width: 1005px) and (min-width: 768px) {
  .signInImage-signup-m {
    width: 110%;
  }
  .logInForm-div-signup-m {
    padding: 2rem;
    margin-top: 20%;
  }
  .main-login-div-signup-m {
    height: 530px;
  }
  #mobile91-login-signup {
    margin-top: 7px;
    margin-left: -20px;
    margin-right: 0px;
  }

  .signInBox-signup-m {
    text-align: center;
    background-color: white;
    margin-top: 2%;
    margin-left: 4%;
    z-index: 1;
    box-shadow: 0px 3px 80px #0000001a;
    // height: 200px;
    border-radius: 40px;
    // width:70%;
    // align-content: center;
  }
  // .col-sm-3 {
  // #signIn-label-signup {

  //  margin-left: 10%;
  //   margin-top: 2%;
  //   font-weight: bold;
  //   padding: 0px;
  //   }
  // }
  #started-span-signup-m {
    padding: 0;
    margin: 0;
    color: #475083;
    letter-spacing: 0px;
    font-size: 20px;
    font-weight: 400;
  }
  #signIn-span-signupnew-m {
    // letter-spacing: 0px;
    font-size: 15px;
    font-weight: 600;
  }
  .form-group-login-signup-m {
    padding: 1%;
  }
  #signIn-label-signup {
    margin-left: -10%;
    margin-top: 2%;
    font-weight: bold;
  }
  #form-next-btn-signup-m {
    width: 60%;
  }
  // group-loginform-g{
  //   .col-sm-3 {
  //      width:20%;
  //   }
  // #mobile91-login-signup{

  // }
  // }

  //  .Get-started-login{
  //    width:120%
}

@media (max-width: 1023px) and (min-width: 1006px) {
  .signInImage-signup-m {
    width: 100%;
  }
  .signInBox-signup-m {
    background-color: white;
    margin-top: 7%;
    // margin-left: 16%;
    box-shadow: 0px 3px 80px #0000001a;
    // height: 511px;
    border-radius: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .signInImage-signup-m {
    width: 120%;
  }
  .logInForm-div-signup-m {
    padding: 2rem;
    margin-top: 5%;
  }
  .signInBox-signup-m {
    text-align: center;
    background-color: white;
    margin-top: 7%;
    margin-left: 16%;
    box-shadow: 0px 3px 80px #0000001a;
    height: 511px;
    border-radius: 40px;
  }
  #started-span-signup-m {
    padding-top: 20px;
  }
  #signIn-span-signupnew-m {
    padding-top: 20px;
  }
  #signIn-label-signup {
    margin-left: -20%;
    z-index: 2;
  }
  .form-group-login-signup-m {
    padding-top: 2rem;
    // padding:1rem;
  }
}

// @media only screen and (min-width: 375px) {

// }
// @media only screen and (min-width: 411px) {
//   .col-12 {
//     flex: 0 0 100%;
//     max-width: 100%;
//     margin-left: auto;
//     margin-top: -58%;
// }
// }
// @media only screen and (min-width: 768px) {

// }
// @media only screen and (min-width: 1024px) {
// }
