<html lang="en">

<body>
    <p>Dear Teacher,</p>

    <p>We hope you are doing great!</p>

    <p>Congratulation! Your course {{name}} has been approved . Please find th guest  <a href="{{link}}">link</a> of the course.</p>
    <p>Thank you.</p>

    <p>Cheers!</p>

</body>

</html>