<html lang="en">

<body>

    <p>Dear Teacher,</p>

    <p> We hope you are doing great!</p>

    <p> Thank you for your application at Amicademy. We regret to inform you that at this moment, we are not taking your
        application forward as of now. However, if we find potential opportunities that matches your profile, we will
        get back to you.</p>

    <p> We really appreciate your interest in joining our platform and we want to thank you for the time and energy you
        invested in the process.</p>

    <p> We hope you’ll keep us in mind and apply again in the future. We wish you every personal and professional
        success in your future endeavors.</p>

    <p>Cheers!</p>

    <p><b><i>Amity Teachers Team</i></b>

</body>

</html>