<html lang="en">

<body>
    <p>Dear Student,</p>

    <p>We hope you are doing great!</p>

    <p>Kindly login to <a href="{{loginLink}}">Eumetry</a> using,</p>
    <p>Username- {{toEmail}} </p>
    <p>Password- {{password}} </p>
    <p>And start learning with Online classes.</p>

    <p>Thank you.</p>

    <p>Cheers!</p>

</body>

</html>