<html lang="en">

<body>
    <p>Dear Teacher,</p>

    <p>We hope you are doing great!</p>

    <p>Congratulation! You have been selected with <a href="{{loginLink}}">Eumetry</a> as a Teacher. Kindly login to  Eumetry using</p>
    <p>Username- {{toEmail}} </p>
    <p>Password- {{password}} </p>
    <p>And start taking online classes.</p>

    <p>Thank you.</p>

    <p>Cheers!</p>

</body>

</html>