.App {
  font-family: sans-serif;
  text-align: center;
}

.Iframe {
  font-family: sans-serif;
  text-align: start;
  /* margin-top: 3%; */
  background: #ffffff 0% 0% no-repeat padding-box;
}
#card-accordian-image {
  border-radius: 0 !important;
  position: relative;
  z-index: 100;
}
#card-accordian {
  border-radius: 0 !important;
  position: relative;
  z-index: 100;
}
#card-accordian-body {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*  */
/* .App {
  font-family: sans-serif;
  text-align: center;
}


.Iframe {
  font-family: sans-serif;
  text-align: center;
  margin-top: 3%;
} */
/* .MuiTab-wrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 18px !important;
} */
