#detele-course-btn {
  background: transparent linear-gradient(90deg, #008ccb 0%, #00d9d6 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px important;
  float: left;
}

#cancel-course {
  float: right !important;
  background-color: #841818b3 !important;
  box-shadow: 0px 3px 6px #00000029;
}
#cancel-course{
    float:right !important;
    // background-color: #412c2c09 !important;
    box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px important;
}
