.profile-image {
  width: 100px;
  height: 100px;
  margin-top: 50%;
  border-radius: 80px;
}
#dashboard-save-button {
  background: #8499ff  !important;
  color: white;
}
.internal-col-spacing {
  margin-top: 3%;
}
.resume-upload {
  background: lightgrey;
}
.profile-text-fields {
  padding: 0px !important;
}
