#modal-send-btn {
  margin-top: 2% !important;
  margin: auto !important;
  background: #8499ff !important;
}
.internal-col-add-student {
  margin-top: 2%;
}

#contained-modal-title-vcenter {
  color: #175592 !important;
  font-weight: bold;
  font-size: 35px;
}
