.main-login-div-signup-studentdetails {
  top: 115px;
  left: 0px;
  width: 100%;
  height: 640px;
  background: transparent
    linear-gradient(180deg, #008ccb 0%, #ffffff 100%, #ff5252de 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000000;
  opacity: 1;
}

.main-header-signup-studentdetails {
  margin-top: 20%;
  text-align: center;
  font: Bold 35px Arial;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.logInForm-div-signup-studentdetails {
  padding: 2rem;
}

#error-message-signup-studentdetails {
  text-align: center;
  font-size: 10px;
  color: red;
}

#signIn-label-signup-studentdetails {
  margin-top: 3%;
  font-weight: bold;
  float: right;
}
#mobile91-login-signup-studentdetails {
  // margin-top: 3px;
  font-weight: bold;
  float: right;
  background: #8aa3e4 0% 0% no-repeat padding-box;
  border: 1px solid #3939394d;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 4px;

  width: 34px;
  opacity: 1;
}
#form-signin-col-signup-studentdetails {
  margin-top: 5%;
}
#form-signup-col-signup-studentdetails {
  margin-top: 8%;
}
#started-span-signup-studentdetailsnew {
  padding: 0;
  margin: 0;
  color: #475083;
  letter-spacing: 0px;
  font-size: 26px;
  font-weight: 600;
}
#signIn-span-signupnew-studentdetails {
  padding: 0 10px;
  margin: 0 20px;
  color: #ff5252;
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: 600;
}
.form-group-login-signup-studentdetails {
  padding: 1rem;
}

.or-text-signup-studentdetails {
  color: #ff5252;
  font-weight: bold;
  letter-spacing: 0px;
  font: bold 18px/18px Poppins;
}
.form-container Form {
  text-align: center;
}

#form-signIn-btn-signup-studentdetails {
  background: #fc8013 0% 0% no-repeat padding-box !important;
  width: 70%;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 359px) and (min-width: 320px) {
  .signInImage-signup-studentdetails {
    width: 90%;
  }
  .hideFirstCol-signup {
    display: none;
  }
  .main-login-div-signup-studentdetails {
    height: 600px;
  }
  .signInBox-signup-studentdetails {
    text-align: center;
    background-color: white;
    // margin-top: -140%;
    margin-left: 4%;
    margin-top: 5%;
    z-index: 1;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 15px #25222340;
    // box-shadow: 0px 3px 80px #0000001a;
    border-radius: 40px;
  }
  #started-span-signup-studentdetailsnew {
    padding: 0;
    margin: 0;
    color: #475083;
    letter-spacing: 0px;
    font-size: 25px !important;
    font-weight: bold;
  }
  #signIn-span-signupnew-studentdetails {
    font-size: 20px !important;
    font-weight: 600;
  }
  .form-group-login-signup-studentdetails {
    padding: 1%;
  }
  #signIn-label-signup-studentdetails {
    margin-top: 2%;
    font-weight: bold;
    float: none;
  }
  #form-signIn-btn-signup-studentdetails {
    width: 80%;
  }
}

@media (max-width: 374px) and (min-width: 360px) {
  .signInImage-signup-studentdetails {
    width: 100%;
  }
  .hideFirstCol-signup {
    display: none;
  }
  .main-login-div-signup-studentdetails {
    height: 600px;
  }
  .signInBox-signup-studentdetails {
    background-color: white;
    // margin-top: -118%;
    text-align: center;
    margin-left: 4%;
    margin-top: 10%;
    border-radius: 40px;
    z-index: 1;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 15px #25222340;
    // box-shadow: 0px 3px 80px #0000001a;
  }
  #started-span-signup-studentdetailsnew {
    font-size: 25px !important;
    font-weight: bold;
  }
  #signIn-span-signupnew-studentdetails {
    padding-top: 25px;
    font-size: 20px !important;
  }
  .form-group-login-signup-studentdetails {
    padding: 1%;
  }
  #signIn-label-signup-studentdetails {
    margin-top: 2%;
    font-weight: bold;
    float: none;
  }
  #form-signIn-btn-signup-studentdetails {
    width: 50%;
  }
}
@media (max-width: 410px) and (min-width: 375px) {
  .signInImage-signup-studentdetails {
    width: 100%;
  }
  .main-login-div-signup-studentdetails {
    height: 600px;
  }
  .hideFirstCol-signup {
    display: none;
  }
  .signInBox-signup-studentdetails {
    text-align: center;
    background-color: white;
    // margin-top: -114%;
    margin-left: 4%;
    margin-top: 6%;
    border-radius: 45px;
    z-index: 1;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 15px #25222340;
    // box-shadow: 0px 3px 80px #0000001a;
    // border-radius: 7%;
  }
  #started-span-signup-studentdetailsnew {
    font-size: 28px !important;
    font-weight: bold;
  }
  #signIn-span-signupnew-studentdetails {
    padding-top: 25px;
    font-size: 20px !important;
  }
  .form-group-login-signup-studentdetails {
    padding: 1%;
  }
  #signIn-label-signup-studentdetails {
    margin-top: 2%;
    font-weight: bold;
    float: none;
  }
  #form-signIn-btn-signup-studentdetails {
    width: 60%;
  }
}

@media (max-width: 599px) and (min-width: 411px) {
  .signInImage-signup-studentdetails {
    width: 95%;
  }
  .main-login-div-signup-studentdetails {
    height: 610px;
  }
  .hideFirstCol-signup {
    display: none;
  }
  .signInBox-signup-studentdetails {
    width: 90%;
    text-align: center;
    background-color: white;
    // margin-top: -105%;
    margin-left: 4%;
    z-index: 1;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 15px #25222340;
    // box-shadow: 0px 3px 80px #0000001a;
    margin-top: 4% !important;
    border-radius: 45px;
    // border-radius: 7%;
  }
  #started-span-signup-studentdetailsnew {
    font-size: 28px;
    font-weight: bold;
  }
  #signIn-span-signupnew-studentdetails {
    padding-top: 25px;
    font-size: 20px;
  }
  .form-group-login-signup-studentdetails {
    padding: 1%;
  }
  #signIn-label-signup-studentdetails {
    margin-top: 2%;
    font-weight: bold;
    float: none;
  }
  #form-signIn-btn-signup-studentdetails {
    width: 60%;
  }
}

@media (max-width: 767px) and (min-width: 600px) {
  .signInImage-signup-studentdetails {
    width: 85%;
  }
  .main-login-div-signup-studentdetails {
    height: 580px;
  }
  .hideFirstCol-signup {
    display: none;
  }
  .signInBox-signup-studentdetails {
    text-align: center;
    background-color: white;
    // margin-top: -90%;
    margin-left: 4%;
    z-index: 1;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 15px #25222340;
    // box-shadow: 0px 3px 80px #0000001a;
    margin-top: 6%;
    border-radius: 45px;
  }
  #started-span-signup-studentdetailsnew {
    font-size: 28px;
    font-weight: bold;
  }
  #signIn-span-signupnew-studentdetails {
    padding-top: 25px;
    font-size: 20px;
  }
  .form-group-login-signup-studentdetails {
    padding: 1%;
  }
  #signIn-label-signup-studentdetails {
    margin-top: 2%;
    font-weight: bold;
    float: none;
  }
  #form-signIn-btn-signup-studentdetails {
    width: 60%;
  }
}
@media (max-width: 1005px) and (min-width: 768px) {
  .signInImage-signup-studentdetails {
    width: 110%;
  }
  .main-login-div-signup-studentdetails {
    height: 530px;
  }
  #mobile91-login-signup-studentdetails {
    margin-top: 7px;
    margin-left: -20px;
    margin-right: 0px;
  }
  // .hideFirstCol-signup{
  //   display:none;
  // }
  .signInBox-signup-studentdetails {
    text-align: center;
    background-color: white;
    margin-top: 2%;
    margin-left: 4%;
    z-index: 1;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 15px #25222340;
    // box-shadow: 0px 3px 80px #0000001a;
    border-radius: 40px;
  }
}
#started-span-signup-studentdetailsnew {
  font-size: 34px;
  font-weight: bold;
}
#signIn-span-signupnew-studentdetails {
  padding-top: 20px;
  font-size: 25px;
}
.form-group-login-signup-studentdetails {
  padding: 1%;
  margin-top: 5%;
}
#signIn-label-signup-studentdetails {
  margin-left: -10%;
  margin-top: 2%;
  font-weight: bold;
  float: none;
}
#form-signIn-btn-signup-studentdetails {
  width: 60%;
}

@media (max-width: 1023px) and (min-width: 1006px) {
  .signInImage-signup-studentdetails {
    width: 100%;
  }
  .signInBox-signup-studentdetails {
    background-color: white;
    margin-top: 7%;
    // margin-left: 16%;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 15px #25222340;
    // box-shadow: 0px 3px 80px #0000001a;
    // height: 511px;
    border-radius: 40px;
  }
  #started-span-signup-studentdetailsnew {
    font-size: 34px;
    font-weight: bold;
  }
  #signIn-span-signupnew-studentdetails {
    padding-top: 20px;
    font-size: 25px;
  }
}
@media (max-width: 1919px) and (min-width: 1024px) {
  .signInImage-signup-studentdetails {
    width: 120%;
  }
  .signInBox-signup-studentdetails {
    text-align: center;
    background-color: white;
    margin-top: 7%;
    margin-left: 16%;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 15px #25222340;
    // box-shadow: 0px 3px 80px #0000001a;
    height: 511px;
    border-radius: 45px;
  }
  #started-span-signup-studentdetailsnew {
    font-size: 34px;
    font-weight: bold;
  }
  #signIn-span-signupnew-studentdetails {
    padding-top: 20px;
    font-size: 25px;
  }
  #signIn-label-signup-studentdetails {
    margin-left: -20%;
    z-index: 2;
    float: right;
  }
  .form-group-login-signup-studentdetails {
    padding-top: 2rem;
  }

  .col-lg-6 {
    padding-left: 25px !important;
  }
}

@media only screen and (min-width: 1920px) {
  .signInImage-signup-studentdetails {
    width: 120%;
  }
  .signInBox-signup-studentdetails {
    text-align: center;
    background-color: white;
    margin-top: 7%;
    margin-left: 16%;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 15px #25222340;
    // box-shadow: 0px 3px 80px #0000001a;
    height: 511px;
    border-radius: 60px;
  }
  #started-span-signup-studentdetailsnew {
    font-size: 34px;
    font-weight: bold;
  }
  #signIn-span-signupnew-studentdetails {
    padding-top: 20px;
    font-size: 25px;
  }
  #signIn-label-signup-studentdetails {
    margin-left: -20%;
    z-index: 2;
    float: right;
  }
  .form-group-login-signup-studentdetails {
    padding-top: 2rem;
  }

  .col-lg-6 {
    padding-left: 25px !important;
  }
}
