#deleteBatchContent {
    text-align: center;
    font-size: 16px;
    /* padding-left: 40px;
          padding-right:40px; */
    color: #175592 !important;
  }
  
  .deleteBatchHeaderDiv {
    text-align: center !important;
    padding-top: 15px;
    width: 100%;
  }
  
  #deleteBatchbtns {
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12px;
  }
  
  .modal-dialog .modal-content {
    border: 0;
    border-radius: 15px !important;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
  #dot {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
  }