#modal-send-btn {
  margin-top: 2% !important;
  margin: auto !important;
  background: #8499ff  !important;
}


#add-teacher-heading{
  text-align: center !important;
    padding-left: 10px;
    font: Bold 18px/43px Roboto;
    letter-spacing: 0px;

    // change this color
    color: #175592 !important;
    margin-bottom:2%;
}

#add-teacher-btn {
  background-color: #8499ff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  // float: center;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 18px;
  padding-right: 18px;
}